<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Pokemon</title>
</head>
<body>
    <h1>Update Pokemon</h1>
    <form action="/updatePoke/<%=poke._id%>?_method=PUT" method="POST">
        <input name="name" id="name" type="text" value="<%=poke.name%>">
        <input name="ability" id="ability" type="text" value="<%=poke.ability%>">
        <input name="level" id="level" type="number" value="<%=poke.level%>">
        <button type="submit">Update</button>   
    </form>
</body>
</html>
